/* :root {
  --box-size: 
} */

body {
  background-color: #111;
  color: white;
  
}

#click {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {

}

.col {
  display: inline-block;
  margin: 2px;
  width: 5.2vh;
  height: 5.2vh;
  border: 2px solid #333;
}

.red {
  border-color: #660708;
  background-color: #BA181B;
}

.notification-container {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notification {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 300px;
  padding: 8px 20px;
  background-color: #999;
  border-radius: 4px;
  display: block;
}

.replay {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 400px;
  padding: 8px 20px;
  background-color: #999;
  border-radius: 4px;
  display: block;
  position: absolute;
}

.replay:hover {
  cursor:pointer;
}

.tutorial {
  position: absolute;
  display: none;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 15vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2vw;
  background-color: #111;
  padding: 20px 40px;
  border: 3px solid #660708;
  background-color: #111;
  border-radius: 7px;
}

.tutorial-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.tutorial-btn {
  padding: 20px 40px;
  border: 3px solid #660708;
  background-color: transparent;
  color: #BA181B;
  border-radius: 7px;
  font-weight: 700;
  text-transform: uppercase;
}

.tutorial-btn:hover {
  cursor:pointer;
  background-color: #BA181B;
  color: #111;
}