body {
  background-color: #111;
  color: white;
}

#click {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {

}

.col {
  display: inline-block;
  margin: 2px;
  width: 3vw;
  height: 3vw;
  border: 2px solid #333;
}

.red {
  border-color: #660708;
  background-color: #BA181B;
}

.notification-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.notification {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 300px;
  padding: 8px 20px;
  background-color: #999;
  border-radius: 4px;
  display: none;
}